<div class="calculator">
  <div class="display-container mb-1">
    <app-display [data]="this.memory.buffer"></app-display>
  </div>


  <div class="button-container">
    <div class="line-1 d-flex justify-content-evenly">
      <app-button [label]="'9'" (pressBtn)="receiveClick($event)"></app-button>
      <app-button [label]="'8'" (pressBtn)="receiveClick($event)"></app-button>
      <app-button [label]="'7'" (pressBtn)="receiveClick($event)"></app-button>
      <app-button [label]="'+'" (pressBtn)="receiveClick($event)"></app-button>
    </div>

    <div class="line-2 d-flex justify-content-evenly">
      <app-button [label]="'6'" (pressBtn)="receiveClick($event)"></app-button>
      <app-button [label]="'5'" (pressBtn)="receiveClick($event)"></app-button>
      <app-button [label]="'4'" (pressBtn)="receiveClick($event)"></app-button>
      <app-button [label]="'-'" (pressBtn)="receiveClick($event)"></app-button>
    </div>

    <div class="line-3 d-flex justify-content-evenly">
      <app-button [label]="'3'" (pressBtn)="receiveClick($event)"></app-button>
      <app-button [label]="'2'" (pressBtn)="receiveClick($event)"></app-button>
      <app-button [label]="'1'" (pressBtn)="receiveClick($event)"></app-button>
      <app-button [label]="'Del'" (pressBtn)="receiveClick($event)"></app-button>
    </div>

    <div class="line-4 d-flex justify-content-between px-3">
      <app-button [label]="'0'" (pressBtn)="receiveClick($event)"></app-button>
      <app-button [label]="'.'" (pressBtn)="receiveClick($event)"></app-button>
      <app-button [label]="'+/-'" (pressBtn)="receiveClick($event)"></app-button>
      <app-button [label]="'C'" (pressBtn)="receiveClick($event)"></app-button>
    </div>

    <div class="line-5 px-3">
      <app-button [label]="'='" [wide]="true" (pressBtn)="receiveClick($event)"></app-button>
    </div>

  </div>
</div>